@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Journal.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    
    <p>Выберите действие:</p>
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" role="button" asp-page="/Privacy">Выставление оценок</a>
        <a class="btn btn-primary" role="button" asp-page="/Table">Просмотр оценок</a>
    </div>
</div>