@page
@model Journal.Pages.ThanksModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
<p>
    <h1>Данные @Model.Participant.Name отправлены</h1>
</p>

</body>
</html>